CI_ENVIRONMENT = development

database.default.hostname = localhost
database.default.database = db_perpustakaan
database.default.username = root
database.default.password = 
database.default.DBDriver = MySQLi

MIDTRANS_SERVER_KEY = SB-Mid-server-YOUR-SERVER-KEY-HERE
MIDTRANS_CLIENT_KEY = SB-Mid-client-YOUR-CLIENT-KEY-HERE
MIDTRANS_IS_PRODUCTION = false
